<div class="card owned-games-cards">
    {{!-- Game title --}}
    <div class="card-block title">
        <h3 class="card-title text-center owned-games-game-title">Game Title</h3>
    </div>
    {{!--  --}}

    <div class="card-block">
        <div class="row owned-img-btn-row">
            <img src="/images/game example.png" alt="" class='img-owned'>
            <a href="#" class="btn btn-block btn-lg btn-danger btns-owned">Delete</a>
        </div>
    </div>
    {{!--  --}}
</div>