<div class="card" class="unowned-games-cards">
    {{!-- Game title --}}
    <div class="card-block title">
        <h3 class="card-title text-center card-game-title">Destiny 2
        </h3>
    </div>
    {{!--  --}}
    <div class="row card-text">
        <div class="col-md-6 desc-col">
            <h5 class='card-desc-title'>
                Description:
            </h5>
            <p class='description-card'>
                Similar to its predecessor, Destiny 2 is a first-person shooter game that incorporates
                role-playing and massively multiplayer online game (MMO) elements. The original Destiny
                includes on-the-fly matchmaking that allowed players to communicate only with other players
                with whom they were "matched" by the game.
            </p>
        </div>
        <div class='col-md-6 info-col'>
            <div class="row card-text-info">
                <h5 class='card-genre-title'>
                    Genre:
                </h5>
                <p class='all-info-cards'>
                    Shooter
                </p>
            </div>

            <div class="row card-text-info">
                <h5 class='platform-title'>
                    Platform:
                </h5>
                <p class='all-info-cards'>
                    Playstation 4
                </p>
            </div>
            <div class="row card-text-info">
                <h5 class='release-date-title'>
                    Release Date:
                </h5>
                <p class='all-info-cards'>
                    Aug. 23, 2002
                </p>
            </div>
        </div>
    </div>

    {{!-- Game Picture --}}
    <div class="row game-picture-row">
        <div class="col-md-4 game-img-col">
            <img src="/images/game example.png" alt="" class='game-img'>
        </div>
        <div class="col-md-4 game-img-col">
            <img src="/images/game example.png" alt="" class='game-img'>
        </div>
        <div class="col-md-4 game-img-col">
            <img src="/images/game example.png" alt="" class='game-img'>
        </div>
    </div>
    {{!--  --}}

    <div class="card-block btn-block">
        <div class="row button-row">
            <div class="col buttons-unowned-cards">
                <button href="#" class="btn btn-block btn-lg btn-primary add-btn">
                    Add
                </button>
            </div>

            <div class="col buttons-unowned-cards">
                <button href="#" class="btn  btn-block btn-lg btn-danger delete-btn">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
{{!--  --}}