<html lang="en-CA">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Good Game Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body class="container">
	<nav class="navbar navbar-default">
		<div class="colapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar fixed-top navbar-dark bg-dark">
				<img src="/images/toppng.com-handshake-icon-png-shake-hands-icon-orange-542x542.png" alt="" width='50px'height='50px' style="margin-top: 22px;">
			</ul>
		</div>
	</nav>


	{{{ body }}}
	
</body>

</html>