<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 id="search-result-head">Search results for: 'sample'</h1>
    </div>
  </div>
  <div class="row">
    {{#each searchedGames}}
    <div class="col-md-6">
      {{> unowned_games}}
    </div>
    {{/each}}
  </div>
</div>